footer(class='footer')
    div(class='avengars-container')
        div
            img(src="/images/second avengars img.png", alt="" class="avengars-image")
        div(id="avengar1"  class="avengars-profiles")
            img(src="https://avatars.githubusercontent.com/u/88907111?v=4" alt="logo" class="navbar__logo")
            a(class="matthew" href='https://github.com/mpuer') Matthew Puerta
        div(id="avengar2" class="avengars-profiles")
            img(src="https://avatars.githubusercontent.com/u/87240318?v=4" alt="logo" class="navbar__logo")
            a(class="matthew" href='https://github.com/danguai') Daniel Blanco
        div(id="avengar3" class="avengars-profiles")
            img(src="https://avatars.githubusercontent.com/u/93230132?v=4" alt="logo" class="navbar__logo")
            a(class="matthew" href='https://github.com/skyline502') Johnny San
        div(id="avengar4" class="avengars-profiles")
            img(src="https://avatars.githubusercontent.com/u/61038486?v=4" alt="logo" class="navbar__logo")
            a(class="matthew" href='https://github.com/yavuzabasiyanik') Yavuz Abasiyanik
