extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Please Log in
    form(action="/", method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      label(for="userName") Username
      input(type="text" name="userName" placeholder="Username")
      label(for="password") Password
      input(type="password" name="password" placeholder="password")
      button(type="submit") Log-in!
