extends layout.pug

block content
  body(class="login__background")
    include nav-bar.pug
    div(class="login__form")
      h1= title
      div.error-container
        if errors
          ul
            each error in errors
              li(class="error")= error
      form(action="/", method="post" class="login__form__fields")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="userName") Username
        input(type="text" name="userName" value=userName)
        label(for="password") Password
        input(type="password" name="password")
        button(type="submit" class="login__button__main orange__button") Login
