doctype html
html
  head
      block head
        title=title
        link(rel='stylesheet' href='/stylesheets/layout.css')
  body
    nav(class='nav-bar')
      //- svg(width="24px", height="24px")
      //-   img(src="../public/images/Logo.svg")
      div(class="profile-questions")
        img(src="/images/Logo.svg" alt="logo" class="logo")
        if locals.authenticated
          a(class='profile' href='/profile') Profile
          a(class='questions' href='/questions') Questions
        else
          a(class='questions' href='/questions') Questions
      input(type="text" name="search" class="search-bar" placeholder="Search")
      div(class="nav-buttons")
        if locals.authenticated
          a(class='logout button' href='/logout') Log-Out
        else
          a(class='login button' href='/') Log-In
          a(class='signup button' href='/users/signup') Sign-Up

    block content
