doctype html
html
  head
      block head
        title=title
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet")
  block content


  //- body
  //-   nav(class='nav-bar')
  //-     div(class="profile-questions")
  //-       img(src="/images/Logo.svg" alt="logo" class="logo")
  //-       h4 STUCK OVERFLOW
  //-       if locals.authenticated
  //-         a(class='profile' href='/profile') Profile
  //-         a(class='questions' href='/questions') Questions
  //-       else
  //-         a(class='questions' href='/questions') Questions
  //-     input(type="text" name="search" class="search-bar" placeholder="Search")
  //-     div(class="nav-buttons")
  //-       if locals.authenticated
  //-         a(class='logout-button' href='/logout') Log out
  //-       else
  //-         a(class='nav-login-reg' href='/') Log-In
  //-         a(class='grey-button-reg' href='/users/signup') Sign-Up
