extends layout.pug

block content
    form(action="/questions/ask" method="post") 
        button(type="submit" class="ask") Ask a Question
    each question in questions
        div(class="question-container")
            div(class="answer-qty-box")
                div= `Answers:`
                div= `Qty: ${question.Answers.length}`
            div(class="question-content")
                div
                    h3
                        a(href=`/questions/${question.id}`)= question.title
                    div= question.message
            div(class="question-user")= `User: ${question.User.userName}`
                           
