.buttons__navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 0px 10px;
}


.buttons__individual__question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 0px 10px;
    padding:10px;
}

.buttons__individual__question a {
    height:10px;
    margin: 1px;
}
/*  ORANGE BUTTON AND HOVER  */
.orange__button {
    background : linear-gradient(0deg, rgba(255, 100, 0, 1) 0%, rgba(255, 150, 0, 1) 100%);
    border: 0px;
    border-radius : 2px;
    color: white;
    font-weight: bolder;
    margin-top: 10px;
}

.orange__button:hover {
    cursor: pointer;
    background : linear-gradient(0deg, rgba(255, 150, 0, 1) 0%, rgba(255, 100, 0, 1) 100%);
    color: rgb(0, 0, 0);
}

/*  GREY BUTTON AND HOVER  */
.grey__button {
    background: linear-gradient(0deg, rgba(150, 150, 150, 1) 0%, rgba(200, 200, 200, 1) 100%);
    border: 0px;
    border-radius : 2px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin-top: 10px;
}

.grey__button:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(150, 150, 150, 1) 0%, rgba(100, 100, 100, 1) 100%);
    color: rgb(255, 255, 255);
}

/*  DEMO BUTTON AND HOVER  */
.demo__button__navbar {
    display:flex;
    justify-content: flex-end;
}

.demo__button__navbar {
    display: flex;
    justify-content: center;
    border: 1px rgb(200, 200, 200) solid;
    border-radius : 2px;
    font-size: 12px;
    width : 65px;
    height : 25px;
    margin: 0px 5px;
    padding: 4px 10px;
    color: rgb(150, 150, 150);
    background-color: rgb(255, 255, 255);
}

.demo__button__navbar:hover {
    color: white;
    background-color: rgb(100, 100, 100);
}

/*  LOGIN BUTTON  */
.login__button__navbar {
    width : 80px;
    height : 25px;
    margin: 0px 5px;
    padding: 4px 10px;
}

.login__button__main {
    font-size: 12px;
    font-weight: bold;
    width : 240px;
    height : 35px;
}

/*  ASK BUTTON */
.ask__question__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius : 2px;
    width : 150px;
    height : 25px;
    margin: 0px 5px;
    padding: 4px;
}

.ask__public {
    width: 150px;
    height: 25px;
    border: 0px;
}

/*  SIGNUP BUTTON  */
.signup__button__navbar {
    border: 0px;
    border-radius : 2px;
    width : 65px;
    height : 25px;
    margin: 0px 5px;
    padding: 4px 10px;
}

/*  LOGOUT BUTTON  */
.logout__button__navbar {
    border: 0px;
    border-radius : 2px;
    width : 65px;
    height : 25px;
    margin: 0px 5px;
    padding: 4px 10px;
}

/*  EDIT / DELETE BUTTON  */
.edit__delete__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius : 2px;
    width : 55px;
    height : 20px;
    margin: 0px 5px;
    padding: 4px 10px;
}
