.avengars-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background : #E5E5E5;
    height: auto;
    width: 100%;
    z-index: 1000;

}

footer{
    position: fixed;
    width: 100%;
    bottom:0;
}


.avengars-profiles{
    display: flex;
    align-items: center;
}

.matthew{
    margin: 10px;
}
.avengars-image{
    height: 30px;
    width: auto;
}
