.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
  border-color : 1px rgb(50, 50, 50) solid;
  background : rgba(255, 255, 255, 0.8);
  width : 400px;
  height : auto;
  border-radius : 13px;
  padding: 40px;
}

.form-container form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: justified;
}

.form-container form textarea {
  width: auto;
  height: 100px;
}

.cancel__edit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(150, 150, 150, 1) 0%, rgba(200, 200, 200, 1) 100%);
  border: 0px;
  border-radius : 2px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  margin-top: 10px;
}

.q-a-forms {
  margin: 5px 0;
}

.q-a-forms input{
  margin: 5px 0;
}
