.question__answer__list__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 60%; */
}

.question__two__background {
    display: block;
    background-image: url('/images/StuckOverflow_Questions2_BG.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
    background-position-x: 200px;
    position: fixed;
    width: 75%;
    height: 185px;
}

.title-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 1px; */
    font-size: 14px;
}

.title-profile img {
    width: 40px;
}

.question-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding: 5px; */
}
.question__title {
    font-weight: bolder;
    /* font-size: 16px; */
}

.question__message {
    font-weight: normal;
    font-size: 14px;
    padding: 10px 0px;
    margin: 25px auto;
}

.question__list__body {
    display:grid;
    width: 60%;
    margin: 0 auto;
    background-color: white;
}

.individual__question__container {
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 60% 20%;
    background-color: white;
    /* border: 1px solid black; */
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    width: 60%;
    margin: 0px auto;
    height: auto;
    border: 0.5mm ridge whitesmoke
}

.images__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:10px 0px;
    width: 100%;
}

/* .answer__list__body {
    display:grid;
    width: 60%;
    margin: 0 auto;
    background-color: white;
} */

.answer-a-question {
    position: relative;
    right:0%;
    background : linear-gradient(0deg, rgba(255, 100, 0, 1) 0%, rgba(255, 150, 0, 1) 100%);
    border: 0px;
    border-radius : 2px;
    color: white;
    font-weight: bolder;
    /* margin-top: 10px; */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius : 2px;
    height : 10px;
    padding: 5px;
    font-size: 10px;
    margin: 10px 0px;
}

.answer__message {
    font-weight: normal;
    font-size: 14px;
    padding: 10px 0px;
    width:60%;
    background-color: white;
}

.votes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10px;
    padding: 10px;
}

.num-answers {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: bolder;
    color:gray;
    padding: 5px;
    border: 0.5px solid darkgray;
    background-image: url('/images/StuckOverflow_Answers_BG.svg');
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
}
.answers__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 0.5mm ridge whitesmoke;
    width: 59.8%;
}

.answer__box {
    display: flex;
    width: 100%;
    /* grid-column-gap: 5px;
    grid-template-columns: 20% 60%; */
    background-color: white;
    border-bottom: 1px solid darkgray;

}

.user__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 17.5%;
    padding: 10px;
    font-size: 14px;
}
.answer__poster {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}

.user__info img {
    width: 40px;
}
.delete__answer {
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
    border: 1px solid white;
}

/* .cancel__edit {
  width : 238px;
  height : 37px;
  border-radius : 2px;
} */

.inactive__upvotes {
    border: 0px;
    background-color: rgba(255, 255, 255, 0)
}

.active__upvotes {
    border: 0px;
    background-color: rgba(255, 255, 255, 0)
}

.active__upvotes:hover {
    cursor: pointer;
}

.inactive__downvotes {
    border: 0px;
    background-color: rgba(255, 255, 255, 0)
}

.active__downvotes {
    border: 0px;
    background-color: rgba(255, 255, 255, 0)
}

.active__downvotes:hover {
    cursor: pointer;
}

.delete__modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20% auto;
    position: relative;
    background : rgba(255, 255, 255, 0.8);
    border-style : Solid;
    border-color : rgba(35, 31, 32, 1);
    border-width : 1px;
    width : 290px;
    height : 260px;
    border-radius : 13px;
    position: absolute;
    top: 10%;
    left: 33%;
    right: 33%;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 25px;
    margin-top:5px;
}

.close:hover {
    cursor: pointer;
}
