/* @import url(https://fonts.google.com/specimen/Montserrat?query=montserrat#standard-styles); */
@import 'answers.css';

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background : #CECECE;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background : #E5E5E5;
    height: 35px;
    width: 100%;
    position:sticky;
    top:0;
    z-index: 1;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    color: rgba(255, 101, 0, 1);
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 15px;
}

/* .search-bar{


} */

.demo-button {
    display:flex;
    justify-content: flex-end;

}

.grey-button {

    background : -moz-linear-gradient(50% 100% 90deg,rgba(51, 51, 51, 1) 0%,rgba(153, 153, 153, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(153, 153, 153, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(51, 51, 51, 1) ),color-stop(1,rgba(153, 153, 153, 1) ));
    background : -o-linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(153, 153, 153, 1) 100%);
    background : -ms-linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(153, 153, 153, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#999999' ,GradientType=0)";
    background : linear-gradient(0deg, rgba(51, 51, 51, 1) 0%, rgba(153, 153, 153, 1) 100%);
    width : 58px;
    height : 30px;
    border-radius : 2px;
    border: 0px;
    -moz-border-radius : 2px;
    -webkit-border-radius : 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999',endColorstr='#333333' , GradientType=0);
    color: white;
    margin: 0px 5px;
    padding: 4px;

}

.nav-login {
    background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 101, 0, 1) 0%,rgba(255, 152, 0, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 101, 0, 1) ),color-stop(1,rgba(255, 152, 0, 1) ));
    background : -o-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
    background : -ms-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6500', endColorstr='#FF9800' ,GradientType=0)";
    background : linear-gradient(0deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
    width : 58px;
    height : 30px;
    border-radius : 2px;
    border: 0px;
    -moz-border-radius : 2px;
    -webkit-border-radius : 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999',endColorstr='#333333' , GradientType=0);
    color: white;
    margin: 0px 5px;
    padding: 4px;

}

.nav-login-reg {
    display:flex;
    justify-content: center;
    align-items: center;
    background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 101, 0, 1) 0%,rgba(255, 152, 0, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 101, 0, 1) ),color-stop(1,rgba(255, 152, 0, 1) ));
    background : -o-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
    background : -ms-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6500', endColorstr='#FF9800' ,GradientType=0)";
    background : linear-gradient(0deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
    width : 80px;
    height : 22px;
    border-radius : 2px;
    border: 0px;
    -moz-border-radius : 2px;
    -webkit-border-radius : 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999',endColorstr='#333333' , GradientType=0);
    color: white;
    margin: 0px 5px;
    padding: 4px;

}

.grey-button-reg {
    display:flex;
    justify-content: center;
    align-items: center;
    background : -moz-linear-gradient(50% 100% 90deg,rgba(51, 51, 51, 1) 0%,rgba(153, 153, 153, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(153, 153, 153, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(51, 51, 51, 1) ),color-stop(1,rgba(153, 153, 153, 1) ));
    background : -o-linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(153, 153, 153, 1) 100%);
    background : -ms-linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(153, 153, 153, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#999999' ,GradientType=0)";
    background : linear-gradient(0deg, rgba(51, 51, 51, 1) 0%, rgba(153, 153, 153, 1) 100%);
    width : 80px;
    height : 22px;
    border-radius : 2px;
    border: 0px;
    -moz-border-radius : 2px;
    -webkit-border-radius : 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999',endColorstr='#333333' , GradientType=0);
    color: white;
    margin: 0px 5px;
    padding: 4px;

}

.profile-questions img, h4 {
    padding-right: 5px;
}

.profile-questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile {
    /* display: flex;
    justify-content: space-between; */
    margin: 0px 15px;
}

.Login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20% auto;
    position: relative;
    background : #FFFFFF;
    background : rgba(255, 255, 255, 0.8);
    border-style : Solid;
    border-color : #231F20;
    border-color : rgba(35, 31, 32, 1);
    border-width : 1px;
    width : 291px;
    height : 263px;
    border-radius : 13px;
    -moz-border-radius : 13px;
    -webkit-border-radius : 13px;
}

.Signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20% auto;
    position: relative;
    background : #FFFFFF;
    background : rgba(255, 255, 255, 0.5);
    border-style : Solid;
    border-color : #000000;
    border-color : rgba(0, 0, 0, 1);
    border-width : 1px;
    width : 680px;
    height : 513px;
    border-radius : 13px;
    -moz-border-radius : 13px;
    -webkit-border-radius : 13px;

}

.Login-form > * {
    padding-bottom: 10px;
}

.login-form-fields > * {
    padding: 5px 0px;
}

.logo {
    height: 30px;
    width: 30px;
    margin-left: 10px
}

body.login-bg {
    background-image: url('/images/StuckOverflow_BG.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 35px;
    background-size: cover;
    position: relative;
    /* height: 800px; */
}

form {
    display: flex;
    flex-direction: column;
}

.orange-button {
    background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 101, 0, 1) 0%,rgba(255, 152, 0, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 101, 0, 1) ),color-stop(1,rgba(255, 152, 0, 1) ));
    background : -o-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
    background : -ms-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6500', endColorstr='#FF9800' ,GradientType=0)";
    background : linear-gradient(0deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
    width : 238px;
    height : 37px;
    border: 0px;
    color: white;
    font-weight:bolder;
    margin-top: 10px;
    border-radius : 2px;
    -moz-border-radius : 2px;
    -webkit-border-radius : 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9800',endColorstr='#FF6500' , GradientType=0);

}

.logout-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background : -moz-linear-gradient(50% 100% 90deg,rgba(100, 51, 51, 1) 0%,rgba(153, 153, 153, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(153, 153, 153, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(51, 51, 51, 1) ),color-stop(1,rgba(153, 153, 153, 1) ));
    background : -o-linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(153, 153, 153, 1) 100%);
    background : -ms-linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(153, 153, 153, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#999999' ,GradientType=0)";
    background : linear-gradient(0deg, rgba(51, 51, 51, 1) 0%, rgba(153, 153, 153, 1) 100%);
    width : 70px;
    height : 30px;
    border-radius : 2px;
    border: 0px;
    -moz-border-radius : 2px;
    -webkit-border-radius : 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999',endColorstr='#333333' , GradientType=0);
    color: white;
    margin: 0px 5px;
    /* padding: 4px; */
}
.login-button {
  background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 101, 0, 1) 0%,rgba(255, 152, 0, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 101, 0, 1) ),color-stop(1,rgba(255, 152, 0, 1) ));
  background : -o-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6500', endColorstr='#FF9800' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  width : 238px;
  height : 37px;
  border-radius : 2px;
  -moz-border-radius : 2px;
  -webkit-border-radius : 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9800',endColorstr='#FF6500' , GradientType=0);


}

.error {
    color: red;
    font-weight: bolder;
    font-size: 15px;
}

.ask-button {
  width: 150px;
  color: white;
  border: 1px solid orangered;
  font-weight: bolder;
  background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 101, 0, 1) 0%,rgba(255, 152, 0, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 101, 0, 1) ),color-stop(1,rgba(255, 152, 0, 1) ));
  background : -o-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6500', endColorstr='#FF9800' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  height : 37px;
  border-radius : 2px;
  -moz-border-radius : 2px;
  -webkit-border-radius : 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9800',endColorstr='#FF6500' , GradientType=0);
}

.ask-public {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  color: white;
  border: 1px solid orangered;
  font-weight: bolder;
  background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 101, 0, 1) 0%,rgba(255, 152, 0, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 101, 0, 1) ),color-stop(1,rgba(255, 152, 0, 1) ));
  background : -o-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6500', endColorstr='#FF9800' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  height : 37px;
  border-radius : 2px;
  -moz-border-radius : 2px;
  -webkit-border-radius : 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9800',endColorstr='#FF6500' , GradientType=0);
}

.ask-public:hover{
    cursor: pointer;
}
.q-a-forms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 25% auto;
    padding: 0px 60px;
    position: relative;
    background : #FFFFFF;
    background : rgba(255, 255, 255, 0.5);
    border-style : Solid;
    border-color : #000000;
    border-color : rgba(0, 0, 0, 1);
    border-width : 1px;
    width : 640px;
    height : 513px;
    border-radius : 13px;
    -moz-border-radius : 13px;
    -webkit-border-radius : 13px;
}

textarea {
    width: 640px;
    height: 200px;
}
.edit-question {
    background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 101, 0, 1) 0%,rgba(255, 152, 0, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 101, 0, 1) ),color-stop(1,rgba(255, 152, 0, 1) ));
  background : -o-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6500', endColorstr='#FF9800' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  width : 238px;
  height : 37px;
  border-radius : 2px;
  -moz-border-radius : 2px;
  -webkit-border-radius : 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9800',endColorstr='#FF6500' , GradientType=0);
}
.delete-answer {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: orange;
}
.delete-question {
    background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 101, 0, 1) 0%,rgba(255, 152, 0, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 101, 0, 1) ),color-stop(1,rgba(255, 152, 0, 1) ));
  background : -o-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6500', endColorstr='#FF9800' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  width : 238px;
  height : 37px;
  border-radius : 2px;
  -moz-border-radius : 2px;
  -webkit-border-radius : 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9800',endColorstr='#FF6500' , GradientType=0);
}

.cancel-edit {
    background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 101, 0, 1) 0%,rgba(255, 152, 0, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 101, 0, 1) ),color-stop(1,rgba(255, 152, 0, 1) ));
  background : -o-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6500', endColorstr='#FF9800' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(255, 101, 0, 1) 0%, rgba(255, 152, 0, 1) 100%);
  width : 238px;
  height : 37px;
  border-radius : 2px;
  -moz-border-radius : 2px;
  -webkit-border-radius : 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9800',endColorstr='#FF6500' , GradientType=0);

}


.question-title-db-mp {
    font-weight: bolder;
    font-size: larger;
}
.questions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-image: url('/images/Logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    /* background-position-y: 20px;
    background-position-x: -200px; */
    background-size: cover;
    position: relative;
    border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    height: 200px;
}


.questions-header h1 {
    font-size: 50px;
    color: darkgray;
    font-weight: bolder;
}

.question-list-body {
    display:grid;
    /* border: 1px solid black; */
    width: 70%;
    margin: 0 auto;
    background-color: white;
}
*
.question-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 60% 20%;
    border: 1px solid black;
    height: auto;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;

}

.ask {
    display: flex;
    position:absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}

.question-title {
    color: black;
    font-weight: bolder;
}

.question-list-user {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}


.question-list-user img {
    height: 25px;
}

.user-name {
    font-size: 10px;

}

.question-login {
    border: 1px solid black;
    width: 100%;
    height:100%;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20% auto;
    position: relative;
    background : #FFFFFF;
    background : rgba(255, 255, 255);
    border-style : Solid;
    border-color : #231F20;
    border-color : rgba(35, 31, 32, 1);
    border-width : 1px;
    width : 291px;
    height : 263px;
    border-radius : 13px;
    -moz-border-radius : 13px;
    -webkit-border-radius : 13px;
    position: absolute;
    top: 10%;
    left: 30%;
    right: 30%;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 25px;
    margin-top:5px;
}

.close:hover {
    cursor: pointer;
}

.orange-button:hover {
    cursor: pointer;
}

.upvote {
    width: 20px;
}

.downvote {
    width: 20px;
}

.vote-count {
    font-size: 30px;
    font-weight: bolder;
}

.delete-modal {
    display: none;
    justify-content: center;
    align-items: center;
}
