@import 'nav-bar.css';
@import 'buttons.css';
@import 'login.css';
@import 'questions.css';
@import 'individual-question.css';
@import 'forms.css';

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background : #CECECE;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    color: rgba(255, 101, 0, 1);
}

form {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-weight: bolder;
    font-size: 15px;
}
