.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20% auto;

    position: relative;
    border-color : 1px rgb(50, 50, 50) solid;
    background : rgba(255, 255, 255, 0.8);
    width : 290px;
    height : 260px;
    border-radius : 13px;
}

.login__form > * {
    padding-bottom: 10px;
}

.login__form__fields > * {
    padding: 5px 0px;
}

.login__background {
    background-image: url('/images/StuckOverflow_BG.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 35px;
    background-size: cover;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
}

.please__login {
    font-weight: bold;
    font-size: 20px;
}
