.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background : #E5E5E5;
    height: 35px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar__logo {
    height: 30px;
    width: 30px;
    margin-left: 10px
}

.profile__questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__questions img {
    padding-right: 5px;
}

.profile {
    margin: 0px 15px;
}

.search__bar{
    border: 1px;
    background-color: red;
}
